.element-block {
    font-family: 'Dancing Script', cursive;
    position: relative;
}

.symbol{
    font-size: 20px;
    position: absolute;
    top: 20px;
    left: 0;
}

.number{
    font-size: 10px;
    position: absolute;
    top: 0;
    left:0;
}

