
.orbit {
  height: 100%;
  width: 100%;
  border: 1px solid white;
  border-radius: 50%;
  padding: 15px;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
}

/* @-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
} */

